
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:wght@400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap');

:root{
    /* bg colors */
    --background:#FAF3DD;
    --nav-bg: #FFA69E;
    --btn:#D81159;

    /* Text colors */
    --tittle:#00b4d8;
    --text:#5E6472;
}
body{
    background: var(--background); 
    font-family: 'Roboto', sans-serif;
    width: 100%;
       
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #D81159;
    font-size: large;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

header{

    width: 100%;
    height: 65%;
    padding:  0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    height: 30%;

}
nav{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar{
    width: 30%;
    gap: 100px;    


}
.navbar_list{
    gap:30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.navbar,
.navbar_list{
    color: var(--btn);
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
}
.navbar_list a{
    color: var(--btn);
}
.navbar_list li:first-child>a{
    color: var(--text);
    font-weight: 600;
}
#morales{
    margin-top: 30px;
    padding:  35px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.morales_card{
 display: flex;
 flex-direction: column;
 gap: 20px;
 width: 50%;
 padding: 0 70px;
}
.morales_card h1{
    font-size: 3rem;
    
    color: #5E6472;
    font-family: 'Fjalla One', sans-serif;
    min-width: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.morales_img{
    display: flex;
    flex-direction: column;
    width: 30%;

}